body,
html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

#qrcode canvas,
#qrcode img {
  max-width: 100%;
  height: auto;
}

.left,
.right {
  width: 100%;
}

.group::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 481px) {
  .left {
    float: left;
    width: 50%;
  }

  .right {
    float: right;
    width: 50%;
  }
}